---
application:

    name: polarroute
    description: application configuration file for the operational-polarroute pipeline

    env:

        description: environment variables for polarroute-pipeline
        create-env-file: true
        env-filename: application.env

        variables:
        - PIPELINE_DIRECTORY: "./"
        - SCRIPTS_DIRECTORY: "./scripts"
        - APPLICATION_DATASTORE: "./datastore"
        - APPLICATION_OUTPUTS: "./outputs"
        - APPLICATION_UPLOAD: "./upload"
        - APPLICATION_ACTIVEHOURS: "0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23"
        - DATASTORE_MANIFEST_DEPTH: 4

    sequence:

        description: sequence of actions for polarroute-pipeline

        sequence:
        - script: 
            name: logs_management.py
            depends: ''
        - script: 
            name: data_retrieve_amsr.sh
            depends: logs_management.py
        - script: 
            name: data_get_credentials.sh
            depends: logs_management.py
        - script: 
            name: data_retrieve_duacs.sh
            depends: data_get_credentials.sh
#        - script:                             # temporarily deselected
#            name: data_retrieve_era5_wave.py  # temporarily deselected
#            depends: logs_management.py       # temporarily deselected
#        - script:                             # temporarily deselected
#            name: data_retrieve_era5_wind.py  # temporarily deselected
#            depends: logs_management.py       # temporarily deselected
        - script:
            name: data_check_downloads.sh
            depends:
            - data_retrieve_amsr.sh
            - data_retrieve_duacs.sh
#            - data_retrieve_era5_wave.py      # temporarily deselected
#            - data_retrieve_era5_wind.py      # temporarily deselected
        - script: 
            name: check_active_hours.py
            depends: data_check_downloads.sh
        - script: 
            name: check_datastore_manifest.py
            depends: check_active_hours.py
        - script: 
            name: mesh_generate_central.sh
            depends: check_datastore_manifest.py
        - script: 
            name: mesh_generate_southern.sh
            depends: check_datastore_manifest.py 
        - script: 
            name: mesh_generate_hires_weddel.sh
            depends: check_datastore_manifest.py
        - script: 
            name: mesh_generate_northern.sh
            depends: check_datastore_manifest.py
        - script: 
            name: vessel_add_northern.sh
            depends: mesh_generate_northern.sh
        - script: 
            name: vessel_add_central.sh
            depends: mesh_generate_central.sh
        - script: 
            name: vessel_add_southern.sh
            depends: mesh_generate_southern.sh
        - script: 
            name: vessel_add_hires_weddel.sh
            depends: mesh_generate_hires_weddel.sh
        - script: 
            name: vessel_update_position.sh
            depends:
            - mesh_generate_northern.sh
            - mesh_generate_central.sh
            - mesh_generate_southern.sh
            - mesh_generate_hires_weddel.sh
        - script: 
            name: waypoints_build.sh
            depends: vessel_update_position.sh
        - script: 
            name: routes_calculate_southern.sh
            depends:
            - vessel_add_southern.sh
            - waypoints_build.sh
        - script: 
            name: routes_calculate_hires_weddel.sh
            depends:
            - vessel_add_hires_weddel.sh
            - waypoints_build.sh
        - script: 
            name: mesh_geojson_northern.sh
            depends: vessel_add_northern.sh
        - script: 
            name: mesh_geojson_central.sh
            depends: vessel_add_central.sh
        - script: 
            name: mesh_geojson_southern.sh
            depends: vessel_add_southern.sh
        - script: 
            name: mesh_geojson_hires_weddel.sh
            depends: vessel_add_hires_weddel.sh
        - script: 
            name: mesh_geojson_split_central.sh
            depends: mesh_geojson_central.sh
        - script: 
            name: metadata_generate_all.sh
            depends:
            - mesh_geojson_northern.sh
            - mesh_geojson_split_central.sh
            - mesh_geojson_southern.sh
            - mesh_geojson_hires_weddel.sh
        - script: 
            name: mesh_compress.sh
            depends:
            - metadata_generate_all.sh
        - script: 
            name: metadata_compress.sh
            depends: metadata_generate_all.sh
        - script: 
            name: upload_prepare_all.sh
            depends:
            - mesh_compress.sh
            - metadata_compress.sh
        - script:
            name: metadata_siis_all.sh
            depends: upload_prepare_all.sh
        - script:
            name: upload_push_all.sh
            depends: metadata_siis_all.sh
        # - script:
        #     name: publish_html.sh # temporarily disabled
        #     depends: metadata_siis_all.sh